{% extends 'base.html' %} {% block title %} Detalle Catalogo {% endblock title %} {% block css %}
<!--Select2 Filter CSS-->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<!--Data Table Css-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/datatables.min.css" /> {% endblock css %} {% block content %}
<h3 class="text-center">Catalogo de Cuentas de {{catalogo.empresa.nombre}}</h3>
<hr>
<div class="row text-center">
    <div class="col-md-2">
        <a name="" id="" class="btn btn-primary" href="{% url 'cont:lista_periodo' empresa.id %}" role="button">P. Contables</a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-2">
        <button class="btn btn-success" onclick="show_modal('{% url 'cont:nueva_subcuenta' catalogo.id %}')">Nueva Cuenta</button>
    </div>
</div>
<br><br>
<table class="table table-light table-striped table-sm" id="tabla">
    <thead class="thead thead-dark">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th></th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        {% for cuenta in catalogo.cuentasp.all %}
        <tr>
            <td>{{cuenta.codigo}}</td>
            <td>{{cuenta.nombre}}</td>
            <td></td>
            <td></td>
        </tr>
        {% for subcuenta in cuenta.subcuentasp.all %}
        <tr>
            <td>{{subcuenta.codigo}}</td>
            <td>{{subcuenta.nombre}}</td> <td><a name="" id="" class="btn btn-success" role="button" onclick="show_modal('{% url 'cont:nueva_subcuenta2' catalogo.id subcuenta.id%}')"><i style="color:white;" class="fas fa-plus "></i></a></td>
            <td class="text-center">
                <a name="" id="" class="btn btn-primary" role="button" onclick="show_modal('{% url 'cont:act_subcuenta' subcuenta.id%}')"><i style="color:white;" class="fas fa-edit "></i></a>
            </td>
        </tr>
        {% for subcuenta2 in subcuenta.subcuentas.all %}
        <tr>
            <td>{{subcuenta2.codigo}}</td>
            <td>{{subcuenta2.nombre}}</td> <td><a name="" id="" class="btn btn-success" role="button" onclick="show_modal('{% url 'cont:nueva_subcuenta2' catalogo.id subcuenta2.id%}')"><i style="color:white;" class="fas fa-plus "></i></a></td>
            <td class="text-center">
                <a name="" id="" class="btn btn-primary" role="button" onclick="show_modal('{% url 'cont:act_subcuenta' subcuenta2.id%}')"><i style="color:white;" class="fas fa-edit "></i></a>
            </td>
        </tr>
        {% for subcuenta3 in subcuenta2.subcuentas.all %}
        <tr>
            <td>{{subcuenta3.codigo}}</td>
            <td>{{subcuenta3.nombre}}</td> <td><a name="" id="" class="btn btn-success" role="button" onclick="show_modal('{% url 'cont:nueva_subcuenta2' catalogo.id subcuenta3.id%}')"><i style="color:white;" class="fas fa-plus "></i></a></td>
            <td class="text-center">
                <a name="" id="" class="btn btn-primary" role="button" onclick="show_modal('{% url 'cont:act_subcuenta' subcuenta3.id%}')"><i style="color:white;" class="fas fa-edit "></i></a>
            </td>
        </tr>
        {% for subcuenta4 in subcuenta3.subcuentas.all %}
        <tr>
            <td>{{subcuenta4.codigo}}</td>
            <td>{{subcuenta4.nombre}}</td> <td><a name="" id="" class="btn btn-success" role="button" onclick="show_modal('{% url 'cont:nueva_subcuenta2' catalogo.id subcuenta4.id%}')"><i style="color:white;" class="fas fa-plus "></i></a></td>
            <td class="text-center">
                <a name="" id="" class="btn btn-primary" role="button" onclick="show_modal('{% url 'cont:act_subcuenta' subcuenta4.id%}')"><i style="color:white;" class="fas fa-edit "></i></a>
            </td>
        </tr>
        {% for subcuenta5 in subcuenta4.subcuentas.all %}
        <tr>
            <td>{{subcuenta5.codigo}}</td>
            <td>{{subcuenta5.nombre}}</td> <td><a name="" id="" class="btn btn-success" role="button" onclick="show_modal('{% url 'cont:nueva_subcuenta2' catalogo.id subcuenta5.id%}')"><i style="color:white;" class="fas fa-plus "></i></a></td>
            <td class="text-center">
                <a name="" id="" class="btn btn-primary" role="button" onclick="show_modal('{% url 'cont:act_subcuenta' subcuenta5.id%}')"><i style="color:white;" class="fas fa-edit "></i></a>
            </td>
        </tr>
        {% for subcuenta6 in subcuenta5.subcuentas.all %}
        <tr>
            <td>{{subcuenta6.codigo}}</td>
            <td>{{subcuenta6.nombre}}</td>
            <td></td>
            <td class="text-center">
                <a name="" id="" class="btn btn-primary" role="button" onclick="show_modal('{% url 'cont:act_subcuenta' subcuenta6.id%}')"><i style="color:white;" class="fas fa-edit "></i></a>
            </td>
        </tr>

        {% endfor %} {% endfor %} {% endfor %} {% endfor %} {% endfor %} {% endfor %} {% endfor %}
    </tbody>
</table>



<div class="modal fade" id="creacion" role="dialog"></div>

{% endblock content %} {% block datatable %}
<!--Data  Table JS-->
<script type="text/javascript " src="https://cdn.datatables.net/v/bs4/dt-1.10.22/b-1.6.5/datatables.min.js "></script>
<script>
    $(document).ready(function() {
        $('#tabla').DataTable({
            "info ": true,
            "lengthChange ": true,
            "pageLength": 50,
            "order": [],
        });
    });
    $.extend(true, $.fn.dataTable.defaults, {
        "language": {
            "decimal": ",",
            "thousands": ".",
            "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "infoPostFix": "",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "loadingRecords": "Cargando...",
            "lengthMenu": "Mostrar _MENU_ registros",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "processing": "Procesando...",
            "search": "Buscar:",
            "searchPlaceholder": "Término de búsqueda",
            "zeroRecords": "No se encontraron resultados",
            "emptyTable": "Ningún dato disponible en esta tabla",
            "aria": {
                "sortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            //only works for built-in buttons, not for custom buttons
            "buttons": {
                "create": "Nuevo",
                "edit": "Cambiar",
                "remove": "Borrar",
                "copy": "Copiar",
                "csv": "fichero CSV",
                "excel": "tabla Excel",
                "pdf": "documento PDF",
                "print": "Imprimir",
                "colvis": "Visibilidad columnas",
                "collection": "Colección",
                "upload": "Seleccione fichero...."
            },
            "select": {
                "rows": {
                    _: '%d filas seleccionadas',
                    0: 'clic fila para seleccionar',
                    1: 'una fila seleccionada'
                }
            }
        }
    });
</script>
{% endblock datatable %} {% block extrajs %}
<script>
    function show_modal(url) {
        console.log(url)
        $('#creacion').load(url, () => {
            $('#creacion').modal('show')
        })
    }
</script>
{% endblock extrajs %}