{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %} Facturas CM {{libro.get_mes_display}}/{{libro.ano}} {% endblock title %} {% block content %}
<h4 class="text-center">{{libro.cliente.nombre}}</h4>
<h4 class="text-center">Facturas Compras {{libro.get_mes_display}}/{{libro.ano}}</h4>
<hr>

<div class="row">
    <div class="col-md-2">
        <a name="" id="" class="btn btn-primary" href="{% url 'iva:lista_libro' libro.cliente.id libro.tipo %}" role="button">Libros</a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-2 align-items-right text-right"></div>
</div>
<br>
<h5>Registrar Nueva Factura</h5>
<form action="" method="post">
    {% csrf_token %} {{form.libro|as_crispy_field}}
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-4">
                {{form.correlativo|as_crispy_field}}
            </div>
            <div class="col-sm-4">
                {{form.fecha|as_crispy_field}}
            </div>
            <div class="col-sm-4">
                {{form.falsaEmpresa|as_crispy_field}} {{form.empresa|as_crispy_field}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                {{form.cExenteInterna|as_crispy_field}}
            </div>
            <div class="col-sm-4">
                {{form.cExenteImportaciones|as_crispy_field}}
            </div>
            <div class="col-sm-4">
                {{form.cGravadaInterna|as_crispy_field}}
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                {{form.cGravadaImportaciones|as_crispy_field}}
            </div>
            <div class="col-sm-4">
                {{form.comprasNSujetas|as_crispy_field}}
            </div>
            <div class="col-sm-4">
                {{form.ivaCdtoFiscal|as_crispy_field}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                {{form.totalCompra|as_crispy_field}}
            </div>
            <div class="col-sm-4">
                {{form.retencionPretencion|as_crispy_field}}
            </div>
            <div class="col-sm-4">
                {{form.anticipoCtaIva|as_crispy_field}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                {{form.ivaTerceros|as_crispy_field}}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</form>
<br>
<div class="table-responsive">
    <table id="tabla1" class="table table-striped table-sm">
        <caption>Facturas Registradas</caption>
        <thead class="thead-dark">
            <tr class="text-center">
                <th>Correlativo</th>
                <th>Fecha</th>
                <th>Proveedor</th>
                <th>Compra Exenta Interna</th>
                <th>Compra Exenta Importaciones</th>
                <th>Compra Gravada Interna</th>
                <th>Compra Gravada Importaciones</th>
                <th>Compras No Sujetas</th>
                <th>IVA Cdto Fiscal</th>
                <th>Total Compra</th>
                <th>Retencion Pretencion</th>
                <th>Anticipo Cta IVA</th>
                <th>IVA Terceros</th>
            </tr>
        </thead>
        <tbody>
            {% for fact in libro.facturacm.all|dictsort:"fecha" %}
            <tr class="text-center">
                <td>{{fact.correlativo}}</td>
                <td>{{fact.fecha}}</td>
                <td>{{fact.empresa}}</td>
                <td>{{fact.cExenteInterna}}</td>
                <td>{{fact.cExenteImportaciones}}</td>
                <td>{{fact.cGravadaInterna}}</td>
                <td>{{fact.cGravadaImportaciones}}</td>
                <td>{{fact.comprasNSujetas}}</td>
                <td>{{fact.ivaCdtoFiscal}}</td>
                <td>{{fact.totalCompra}}</td>
                <td>{{fact.retencionPretencion}}</td>
                <td>{{fact.anticipoCtaIva}}</td>
                <td>{{fact.ivaTerceros}}</td>
            </tr>
            {% endfor %}
            <tr class="table-info text-center">
                <td><b>TOTALES</b></td>
                <td></td>
                <td></td>
                {% for total in totales %}
                <td>{{total}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<br>
<br> {% endblock content %} {% block extrajs %}
<script>
    function totalizado() {
        total = parseFloat($("#id_ivaCdtoFiscal").val()) + parseFloat($('#id_cExenteInterna').val()) + parseFloat($('#id_cExenteImportaciones').val()) + parseFloat($('#id_cGravadaInterna').val()) + parseFloat($('#id_cGravadaImportaciones').val()) + parseFloat($('#id_comprasNSujetas').val())
            //total = total + 
        $('#id_totalCompra').val(total.toFixed(2))
        return $('#id_totalCompra').val()
    }
    $('#id_comprasNSujetas').change(() => {
        totalizado()
    })
    $('#id_ivaCdtoFiscal').change(() => {
        totalizado()
    })
    $('#id_cExenteInterna').change(() => {
        totalizado()
    })
    $('#id_cExenteImportaciones').change(() => {
        totalizado()
    })
    $('#id_cGravadaInterna').change(() => {
        event.preventDefault();
        let cg = $("#id_cGravadaInterna").val()
        cg = parseFloat(cg).toFixed(2)
        let ci = $("#id_cGravadaImportaciones").val()
        ci = parseFloat(ci).toFixed(2)
        $("#id_ivaCdtoFiscal").val(Math.round(((0.13 * (parseFloat(ci) + parseFloat(cg))) * 100)) / 100)
        totalizado()
    })


    $('#id_cGravadaImportaciones').change(() => {
        event.preventDefault();
        let cg = $("#id_cGravadaInterna").val()
        cg = parseFloat(cg).toFixed(2)
        let ci = $("#id_cGravadaImportaciones").val()
        ci = parseFloat(ci).toFixed(2)
        $("#id_ivaCdtoFiscal").val(Math.round(((0.13 * (parseFloat(ci) + parseFloat(cg))) * 100)) / 100)
        totalizado()
    })

    $('#id_falsaEmpresa').on('change', function(event) {
        event.preventDefault();
        let id_cont = $('#id_falsaEmpresa').val()
        var dinamyc = '/iva/empresa/' + id_cont + "/"
        console.log(dinamyc)
        $.ajax({
            url: dinamyc,
            type: 'get',
            datatype: 'json',
            success: function(response) {
                console.log(response)
                $('#id_falsaEmpresa').val(response[0].fields.nombre)
                $('#id_empresa').val(response[0].pk)
            },
            error: function(error) {
                console.log(error)
                window.open('/iva/nueva/empresa/', '', 'width=50, heigth=50, top=100, left=100')
            }
        })
    });
    $('#id_cExenteInterna').focusout((event) => {
        event.preventDefault();
        let id_cont = $('#id_falsaEmpresa').val()
        var dinamyc = '/iva/empresa/' + id_cont + "/"
        console.log(dinamyc)
        $.ajax({
            url: dinamyc,
            type: 'get',
            datatype: 'json',
            success: function(response) {
                console.log(response)
                if ($('#id_falsaEmpresa').val() == response[0].fields.nRegistro)
                    $('#id_falsaEmpresa').val(response[0].fields.nombre)
                $('#id_empresa').val(response[0].pk)
            },
        })
    })
</script>
{% endblock extrajs %}